<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dongguk Bachelor Outbound</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/css/outbound.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/CallCenter/index">
                <div class="sidebar-brand-text mx-3">Dongguk Bachelor Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/CallCenter/index">
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Administrator
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>고객 관리</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">고객 관리:</h6>
                        <a class="collapse-item" href="/CallCenter/user_info">고객 정보 관리</a>
                        <a class="collapse-item" href="/CallCenter/data">학습 데이터 관리</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>시스템 관리</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">시스템 관리:</h6>                        
                        <a class="collapse-item" href="/CallCenter/outbound">발송 예정 관리</a>
                        <a class="collapse-item" href="/CallCenter/system">학사 관리</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                     <!-- Topbar Navbar -->
                     <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">동국대학교 AI 학사 협업 시스템</h1>
                    </div>

                    <div class="row">
                        <div class="col-x1-6 col-lg-6 mb-6">
                            <div class="well pull-right-lg" style="border:0px solid">
                                <div style="padding:0px;">
                                <form action="/CallCenter/outbound" method = "GET">
                                  <br>
                                  	<b>검색 날짜 입력</b> <input type = "date" name = "date", value = ""></input>
                                  	<input type="submit" name = "dateSelect" value = "검색">
                                  <br><br>
                                  </form>
                                </div>
                            </div>
                            <div style="background-color: #FAF3DD;">
                                <div style="color: black;font-size:20px;background-color: #68C170; padding: 20px;margin-top:5px ;border-radius: 10px;">
                                	발송일 리스트</div>
                                <div style="color: #865439;background-color:#D6EC8C; padding: 20px;margin-top:10px;border-radius: 10px;">
	                                <form action="/CallCenter/outbound" method = "GET" style = "height-min: 350px">
	                                <div style = "overflow-y: scroll;">
	                                {% if otb.point != -1 %}
	                                {% if otb.step == 2 or otb.step == 3 %}
	                                    <input type="submit" name = "selected" value = "선택">
	                                    <input type="submit" name = "listed" value = "발송 정보 출력"><br><br>
	                                {% for i in otb.result %}
	                                    <div >
	                                	<p style="text-overflow: ellipsis;  overflow: hidden; white-space: nowrap; 
	                                	width: 400px; {% if otb.step == 3 and forloop.counter0 == otb.point %} color: blue; {% endif %}"> 
	                                	<input type = "radio" name="data" value = "{{forloop.counter0}}"> {{i.1}} - {{i.2}}
	                                	</p>
	                                    </div>
	                                {% endfor %}
	                                {% endif %}
	                                {% else %}
	                                	발송 번호 리스트<br>
	                                	<textarea name = "list" style="height:100px; overflow-y: scroll;
	                                	 width: 100%; white-space: pre-wrap;" disabled>{% for i in tel %}{{i.0}}
{% endfor %}</textarea>
	                                	{{otb.date}}일 발송 내용<br>
	                                	<textarea name = "mail" style="height:200px; overflow-y: scroll;
	                                	 width: 100%; white-space: pre-wrap;" disabled>{{text}}</textarea>
	                                	 <input type = "submit" name = "prev" value = "이전">
	                                	 {{now}}/{{sum}}
	                                	 <input type = "submit" name = "next" value = "다음">
	                                {% endif %}
	                                </div>
	                                </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-x1-1 col-lg-1 mb-1">                            
                        </div>
                        <div class="col-x1-4 col-lg-4 mb-4">
                            <h1>예약 통화 전달 내용</h1>
                            <div>
                                <form action="/CallCenter/outbound" method = "GET">
                                	<div style = "border: 2px solid gray; background-color: #D6EC8C">
                                	<font style="color:black;">관련 태그 입력&nbsp&nbsp&nbsp</font>
	                                	<select name = "tag">
	                                		<option value = "" disabled selected>관련 태그 선택</option>
	                                		<option value = "class">학년</option>
	                                		<option value = "major">학과</option>
	                                		<option value = "address">거주지</option>
	                                	</select>
	                                	<input type="text" name = "tagInfo" value = "태그 설정">
                                	</div>
                                    <textarea name = "text" style="height:400px; overflow-y: scroll;
                                    width: 100%;">{% if otb.step == 3 %}{{otb.text.2}}{% endif %}</textarea>
                                    <div>
                                    	<input type = "submit" name = "add" value = "추가" 
                                    	style = "background-color: #68C170; height: 50px; width: 30%; font-weight: 900;">
                                    	<input type = "submit" name = "update" value = "내용 변경" 
                                    	style = "background-color: #D6EC8C; height: 50px; width: 30%; font-weight: 900;">
                                    	<input type = "submit" name = "delete" value = "삭제" 
                                    	style = "background-color: darkRed; height: 50px; width: 30%; color: White; font-weight: 900;">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div style="float:left">
                        <img src="/static/img/dgu_logo2.jpg" style="height:42px;width:134px;">
                    </div>
                    <div class="copyright my-auto" style="align-items:left;float:left;font-size:9px;">
                        <span>서울캠퍼스 : (04620) 서울특별시 중구 필동로 1길 30 (필동3가 26) Tel.02-2260-3114 Fax.02-2277-1274</span></br>
                        <span>경주캠퍼스 : (38066) 경상북도 경주시 동대로 123 동국대학교 경주캠퍼스 Tel.054-770-2114 Fax.054-770-2001</span></br>
                        <span>COPYRIGHT (c)2017 DONGGUK UNIVERSITY SINCE 1906.ALL RIGHTS RESERVED</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">종료하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">로그아웃 하시려면 Logout 버튼을 눌러주세요</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/CallCenter/login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

</body>

</html>